[submodule "back"]
        path = server_core
        url = ../server_core.git
        update = merge
        branch = main
[submodule "server_panel"]
	path = server_panel
	url = git@github.com:skaben/server_panel.git
        update = merge
        branch = main
